.dialogueTextBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1.5%;
  width: 65%;
  height: 35%;
}

.dialogueText {
  position: absolute;
  margin: 0 auto;
  padding: 2%;
  padding-left: 19%;
  top: 70.5%;
  font-size: 160%;
  white-space: nowrap;
  overflow: hidden;
  animation: typeLetter 3s steps(90, end);
  font-family: "Ink Free";
}

@keyframes typeLetter {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

.dialogueSpeaker {
  font-size: 250%;
  font-family: "Ink Free";
  top: 67.5%;
  padding-left: 19%;
  position: absolute;
}

.dialogueEnder {
  font-size: 80%;
  margin-top: 5%;
  text-align: end;
  position: absolute;
  right: 3%;
}

.dialogueImage {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 1.5%;
  margin: 4.3%;
  width: 13%;
  height: auto;
}

.dialogueBackground {
  width: auto;
  height: 100%;
}

.froggyImage {
  position: absolute;
  bottom: 2.5%;
  left: 0;
  padding-left: 3.9%;
  margin: 4.3%;
  width: 7.5%;
  height: auto;
}

.froggyTextBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1.4%;
  width: 61%;
  height: 35%;
}

.InstructionsBox {
  position: absolute;
  width: 20%;
  height: 10%;
  bottom: 9%;
  left: 41.8%;
}

.InstructionsText {
  position: absolute;
  top: 84.8%;
  left: 43.6%;
  font-size: 90%;
  font-family: "Ink Free";
}

.froggyInstructionsBox {
  position: absolute;
  width: 20%;
  height: 10%;
  bottom: 9%;
  left: 38%;
}

.froggyInstructionsText {
  position: absolute;
  top: 84.8%;
  left: 39.7%;
  font-size: 90%;
  font-family: "Ink Free";
}
