.dialogueTextBox {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  padding: 21vh;
  resize: none;
  bottom: 0vh;
  line-height: 3vh;
  font-family: "Chalkduster", fantasy;
  font-size: 2.5vh;
  margin-left: 54vh;
  margin-right: auto;
  /* margin-bottom: 0vh; */
  background-color: transparent;
  border-color: transparent;
  width: 125vh;
  height: 34vh;
  z-index: 2;
}

.dialogueBack {
  position: absolute;
  width: 108vh;
  height: 34vh;
  margin-bottom: 1vh;
  bottom: 0vh;
  margin-left: 65vh;
  background-image: url("../../../dist/extras/Untitled_Artwork.png");
}

/* .dialogueText {
  position: absolute;
  margin: 0 auto;
  padding: 20%;
  padding-left: 19%;
  top: 70.5%;
  font-size: 160%;
  white-space: nowrap;
  overflow: hidden;
  animation: typeLetter 3s steps(90, end);
  font-family: "Ink Free";
} */

@keyframes typeLetter {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

.dialogueSpeaker {
  font-size: 5vh;
  font-family: "Chalkduster", fantasy;
  top: 72vh;
  left: 75vh;
  z-index: 2;
  /* padding-left: 0%; */
  position: absolute;
}

.dialogueEnder {
  font-size: 80%;
  margin-top: 5%;
  text-align: end;
  position: absolute;
  right: 3%;
}

.dialogueImage {
  position: relative;
  bottom: 50vh;
  left: 29vh;
  margin: 8vh;
  width: auto;
  height: 26vh;
}

.dialogueBackground {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  overflow: hidden;
}

.frogBox {
  position: absolute;
  /* z-index: 2; */
  bottom: 4vh;
  left: 36vh;
  /* padding-left: 3vh;
  margin: 7vh; */
  width: auto;
  height: 27vh;
}

.froggyImage {
  position: absolute;
  bottom: 7.3vh;
  left: 42.5vh;
  z-index: 2;
  /* padding-left: 8vh; */
  /* margin: 9vh; */
  width: 18vh;
  height: auto;
}

/* .froggyTextBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1.4%;
  width: 61%;
  height: 35%;
} */

/* .InstructionsBox {
  position: absolute;
  width: 20%;
  height: 10%;
  bottom: 10%;
  left: 52.75%;
}

.InstructionsText {
  position: absolute;
  top: 84%;
  left: 54.5%;
  font-size: 90%;
  font-family: "Ink Free";
}

.froggyInstructionsBox {
  position: absolute;
  width: 20%;
  height: 10%;
  bottom: 10.3%;
  left: 52.85%;
}

.froggyInstructionsText {
  position: absolute;
  top: 83.65%;
  left: 54.67%;
  font-size: 90%;
  font-family: "Ink Free";
} */

.pheeshImage {
  position: relative;
  bottom: 54vh;
  left: 27.5vh;
  margin: 8vh;
  width: auto;
  height: 26vh;
}

.lotlImage {
  position: relative;
  bottom: 55.5vh;
  left: 28vh;
  margin: 8vh;
  width: auto;
  height: 29vh;
}

.tigerImage {
  position: relative;
  bottom: 58.5vh;
  left: 27vh;
  margin: 8vh;
  width: auto;
  height: 28vh;
}
