
.dialogueTextBox {
  position:absolute;
  overflow: hidden;
  box-sizing: border-box;
  padding: 68px; 
  resize: none; 
  bottom: 4%;
  line-height: 1cm;
  font-family: "Chalkduster", fantasy;
  font-size:20px;
  margin-left: 33%; 
  margin-right: auto; 
  margin-bottom: 10px;
  background-color: transparent;
  border-color:transparent;
  width: 800px;
  height: 250px;
}

.dialogueBack {
  position:absolute;
  width: 800px;
  height: 250px;
  margin-bottom: 10px;
  bottom: 3%;
  margin-left: 33%;
  background-image: url("../../../dist/extras/Untitled_Artwork.png");
  
}

.dialogueText {
  position: absolute;
  margin: 0 auto;
  padding: 20%;
  padding-left: 19%;
  top: 70.5%;
  font-size: 160%;
  white-space: nowrap;
  overflow: hidden;
  animation: typeLetter 3s steps(90, end);
  font-family: "Ink Free";
}

@keyframes typeLetter {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

/*.dialogueSpeaker {
  font-size: 250%;
  font-family: "Ink Free";
  top: 67.5%;
  padding-left: 0%;
  position: absolute;
}*/

.dialogueEnder {
  font-size: 80%;
  margin-top: 5%;
  text-align: end;
  position: absolute;
  right: 3%;
}

.dialogueImage {
  position: absolute;
  bottom: 0%;
  left: 0%;
  padding-left: 8.5%;
  margin: 45px;
  width: auto;
  height: 250px;
  
}

.dialogueBackground {
  width: auto;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;  
  
}

body {
  overflow: hidden;
}
.froggyImage {
  position: absolute;
  bottom: 2.5%;
  left: 0;
  padding-left: 3.9%;
  margin: 4.3%;
  width: 7.5%;
  height: auto;
}

.froggyTextBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1.4%;
  width: 61%;
  height: 35%;
}

.InstructionsBox {
  position: absolute;
  width: 20%;
  height: 10%;
  bottom: 9%;
  left: 41.8%;
}

.InstructionsText {
  position: absolute;
  top: 84.8%;
  left: 43.6%;
  font-size: 90%;
  font-family: "Ink Free";
}

.froggyInstructionsBox {
  position: absolute;
  width: 20%;
  height: 10%;
  bottom: 9%;
  left: 38%;
}

.froggyInstructionsText {
  position: absolute;
  top: 84.8%;
  left: 39.7%;
  font-size: 90%;
  font-family: "Ink Free";
}
