#ingwrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#recipes {
    width: 90%;
    height: 100%;/*
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;*/
    padding-left: 3%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

#ingredient-list p {
    font-size: 24px;
    font-family: "Lucida Sans";
    width: 60%;
    text-align: left;
    padding-top: 10px;
}

input {
    height: 40px;
    width: 60%;
    background: rgba(255, 165, 0, 0.0);
    border: none;
    padding: 10px;
    border-bottom: 2px solid black;
    font-size: 24px;
    font-family: "Lucida Sans";
    transition: height 0.5s;
}

input:focus {
    outline: none;
    height: 60px;
}

#submitbtn {
    padding-top: 50px;
}

#submitbtn button {
    width: 25%;
}

.ingredient {
    height: 40px;
    padding: 20px 0px 20px 0px;
    transition: height 0.5s;
}

.ingredient:focus-within {
    height: 60px;
}

::selection {
    background: pink; 
}