@keyframes fadeOut {
  /* from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
} */
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInTransition {
  width: 206vh;
  height: 115vh;
  background-size: cover;
  left: 0vh;
  /* margin-left: auto;
  margin-right: auto; */
  position: absolute;
  opacity: 0;
  animation: fadeIn 6s linear 16s forwards;
}

.fadeInText {
  width: auto;
  height: 10vh;
  position: absolute;
  left: 100vh;
  top: 80vh;
  /* opacity: 0;
  animation: fadeIn 6s linear 25s forwards; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  67% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInOut {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  animation: fadeIn 6s, fadeOut 6s 10s forwards;
}

.fadeInOutFirst {
  font-family: "Chalkduster", fantasy;
  font-size: 2vh;
  z-index: 2;
  position: absolute;
  margin: 0;
  top: 37vh;
  left: 160vh;
  opacity: 0;
  animation: fadeIn 4s 25s forwards;
  color: white;
}

.fadeInOutSecond {
  font-family: "Chalkduster", fantasy;
  font-size: 1.5vh;
  z-index: 2;
  position: absolute;
  margin: 0;
  top: 40vh;
  left: 160vh;
  opacity: 0;
  animation: fadeIn 4s 25s forwards;
  color: white;
}

.fadeInOutThird {
  font-family: "Chalkduster", fantasy;
  font-size: 1.5vh;
  z-index: 2;
  position: absolute;
  margin: 0;
  top: 46vh;
  left: 160vh;
  opacity: 0;
  animation: fadeIn 4s 25s forwards;
  color: white;
}

.fadeInOutFourth {
  font-family: "Chalkduster", fantasy;
  font-size: 1.5vh;
  z-index: 2;
  position: absolute;
  margin: 0;
  top: 52vh;
  left: 160vh;
  opacity: 0;
  animation: fadeIn 4s 25s forwards;
  color: white;
}

.fadeInOutFifth {
  font-family: "Chalkduster", fantasy;
  font-size: 1.5vh;
  z-index: 2;
  position: absolute;
  margin: 0;
  top: 58vh;
  left: 160vh;
  opacity: 0;
  animation: fadeIn 4s 25s forwards;
  color: white;
}

.fadeInOutSixth {
  font-family: "Chalkduster", fantasy;
  font-size: 1.5vh;
  z-index: 2;
  position: absolute;
  margin: 0;
  top: 64vh;
  left: 160vh;
  opacity: 0;
  animation: fadeIn 4s 25s forwards;
  color: white;
}

.fadeInOutSeventh {
  font-family: "Chalkduster", fantasy;
  font-size: 1.5vh;
  z-index: 2;
  position: absolute;
  margin: 0;
  top: 70vh;
  left: 160vh;
  opacity: 0;
  animation: fadeIn 4s 25s forwards;
  color: white;
}

.fadeInOutEighth {
  font-family: "Chalkduster", fantasy;
  font-size: 1.5vh;
  z-index: 2;
  position: absolute;
  margin: 0;
  top: 76vh;
  left: 160vh;
  opacity: 0;
  animation: fadeIn 4s 25s forwards;
  color: white;
}

.fadeInOutNinth {
  font-family: "Chalkduster", fantasy;
  font-size: 1.5vh;
  z-index: 2;
  position: absolute;
  margin: 0;
  top: 82vh;
  left: 160vh;
  opacity: 0;
  animation: fadeIn 4s 25s forwards;
  color: white;
}

.fadeInOutTenth {
  font-family: "Chalkduster", fantasy;
  font-size: 1.5vh;
  z-index: 2;
  position: absolute;
  margin: 0;
  top: 88vh;
  left: 160vh;
  opacity: 0;
  animation: fadeIn 4s 25s forwards;
  color: white;
}

.fadeInOutEleventh {
  font-family: "Chalkduster", fantasy;
  font-size: 5vh;
  z-index: 2;
  position: absolute;
  margin: 0;
  top: 25vh;
  left: 75vh;
  opacity: 0;
  animation: fadeIn 4s 29s forwards;
  color: white;
}
