#nbwrapper {
    background-image: url("../../../dist/extras/notebook.png");
    background-size: cover;
    background-position: top center;
    font-family: "Segoe Script", "sans-serif";
    height: 100%;
    padding: 50px 0px 0px 100px;
    /* overflow: hidden; */
}

/* #wrapper button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans";
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 21px;
    padding: 6px;
    height: 42px;
} *//*help the way i coded this is SO janky*/

#ntbk {
    font-size: 24px;
    text-align: left;
    column-count: 2;
}

#notes {
    column-count: 2;
    height: 75%;
}

.impt {
    text-decoration: underline;
    text-decoration-color: palevioletred;
}

/* #logoutdiv {
    position: absolute;

} */

#ntbkbtn {
    position: fixed;
}