html,
body,
#root,
Router,
Skeleton {
  width: 100%;
  height: 100%;
  background-color: #fbf7f5;
}

div {
  height: 100%;
}

#homepage div {
  height: auto;
}

#homepage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#googlelogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe Script";
  height: auto;
  font-size: 32px;
}

#homemade {
  width: 25%;
}

#homepage button {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans";
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 21px;
    padding: 6px;
    height: 42px;
}

/*button span {
    font-size: 14px;
}*/

button:hover {
  cursor: pointer;
  background-color: #222;
}

button:active {
  background-color: #333;
}

button img {
  height: 100%;
}

#welcome {
  height: auto;
  font-family: "Lucida Sans";
  padding-left: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 200;
}

#welcome span {
  color: green;
}

.wrapper button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans";
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 21px;
  padding: 6px;
  height: 42px;
}

.buttonside {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 150px;
}